{% load url from future %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Crowdsolving</title>
    <script src="http://crowdprover.herokuapp.com/static/js/jquery-1.9.1.js"></script>
    <script src="http://crowdprover.herokuapp.com/static/js/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://crowdprover.herokuapp.com/static/css/jquery-ui.css" />
    <script type="text/javascript" src="http://crowdprover.herokuapp.com/static/js/jquery.snippet.js"></script>
    <link rel="stylesheet" type="text/css" href="http://crowdprover.herokuapp.com/static/css/jquery.snippet.css" />
    <script src="http://crowdprover.herokuapp.com/static/js/iphone-style-checkboxes.js" type="text/javascript" charset="utf-8"></script>
    <script type='text/javascript' src='http://crowdprover.herokuapp.com/static/js/jquery.simplemodal.js'></script>
    <script type='text/javascript' src='http://crowdprover.herokuapp.com/static/js/basic.js'></script>
    <link type='text/css' href='http://crowdprover.herokuapp.com/static/css/demo.css' rel='stylesheet' media='screen' />
    <link type='text/css' href='http://crowdprover.herokuapp.com/static/css/basic.css' rel='stylesheet' media='screen' />
    <script type='text/javascript' src='http://crowdprover.herokuapp.com/static/js/jquery.dataTables.js'></script>
    <link rel="stylesheet" type="text/css" href="http://crowdprover.herokuapp.com/static/css/demo_table.css" />
    <link rel="stylesheet" type="text/css" href="http://crowdprover.herokuapp.com/static/css/jquery.dataTables.css" />
  </head>
  <body>

  <div id='container'>
  <div id='logo'>
    <h1>prove<span>It</span></h1>
    <span class='title'>Crowdsolving Software Verification</span>
  </div> <!--end div logo-->
  <div id='content'>
    <div id='basic-modal'>
      <p>Please review this program, and provide us with invariants that hold at different program points.
        You can use the trace visualizer to help understand this program's behaviour.
      </p>
        
      <style>
          #container {
              border: none;
              height: auto;

              text-align: justify;
              -ms-text-justify: distribute-all-lines;
              text-justify: distribute-all-lines;

              /* just for demo */
              min-width: 980px;
          }

          .box1, .box2 {
              width: auto;
              height: auto;
              vertical-align: top;
              display: inline-block;
              *display: inline;
              zoom: 1
          }
          .stretch {
              width: 100%;
              display: inline-block;
              font-size: 0;
              line-height: 0
          }
          .highlighted { background-color: yellow }
      </style>
      <div id="codeplusvis">
      <div id="codeblock" class="box1">
        <pre class="code1">{{code}}</pre>
      </div> <!--end div codeblock-->


	<form action="{% url 'programs:submit' program.id %}" method="post">
	{% csrf_token %}
	<div>Your Name</br><textarea name="author" rows="1" cols="50"></textarea></div>
	<div>Your Invariant</br><textarea name="content" rows="3" cols="50"></textarea></div>
	<div>Line number after which your invariant holds</br><input type="number" name="line"></div>
	<div><input type="submit" value="Suggest Invariant"></div>
	</form>


      <div id="visualizer" class="box2">
        <div align="right">Set inputs</div>
	<form action="{% url 'programs:submit' program.id %}" method="post">
	{% csrf_token %}
        <table border="1">
	{% for input in trace.inputs %}
        <tr>
		<td>input: {{input.name}}</td>
		<td width="50%"><div contenteditable><input type="text" name="input{{forloop.counter}}">{{input.default}}</div></td>
	</tr>
	{% endfor %}
        </table>
	<div><input type="submit" value="Compute Trace"></div>
	</form>
	<br><br>

        <div align="right">Select variables</div>
        <div align="right"><input type='image' src="http://crowdprover.herokuapp.com/static/images/watch1.png" name='basic' value="" class='basic' onclick="clickWatch()"/></div>
        <p>
        <label for="step">Step #:</label>
        <input type="text" id="step" style="border: 0; color: #f6931f; font-weight: bold;" />
        </p>
        <div id="slider"></div>
        <br>
          <style>
          #visualtable {
              width: 480px;
          }
          </style>

        <div id="visualtable">
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="tracetable" width="50%">
        <thead>
          <tr>
            <th>Variable</th>
	    {% for i in trace.lines %} 
            <th>{{forloop.counter}}</th>
	    {% endfor %}
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      </div> <!--end div visualtable-->


      </div> <!--end div visualizer-->
      <span class="stretch"></span>
      </div> <!-- end div codeplusvis-->

      <br>  

      <div align="left"> 
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<form action="{% url 'programs:submit' program.id %}" method="post">
	{% csrf_token %}
	<div>Your Name</br><textarea name="author" rows="1" cols="50"></textarea></div>
	<div>Your Invariant</br><textarea name="content" rows="3" cols="50"></textarea></div>
	<div>Line number after which your invariant holds</br><input type="number" name="line"></div>
	<div><input type="submit" value="Suggest Invariant"></div>
	</form>
      </div>

 
    <!-- modal content -->
    <div id="basic-modal-content" style="vertical-align:middle; text-align:left">
      <h3>Trace Visualizer Settings</h3>
      Select which variables you would like to display in the trace visualizer. <br><br>
      <table align="center">
	{% for vartrace in trace.values %}
        <tr class="var_{{ vartrace.alias }}">
          <th><label for="{{ vartrace.alias }}">{{ vartrace.name }}</label></th>
          <td>
            <input type="checkbox" id="{{ vartrace.alias }}"/>
          </td>
        </tr>
	{% endfor %}
      </table>
      <br><br>
      <input name="submit" id="submitme" type="image" 
        src="http://crowdprover.herokuapp.com/static/images/tick.png" 
        alt="Submit" 
        onclick="submitWatch();"
        tabindex="8"
        align="right"/>


    </div> <!--end div basic-modal-content-->

    <!-- preload the images -->
    <div style='display:none'>
      <img src='http://crowdprover.herokuapp.com/static/images/x.png' alt='' />
    </div>
    </div> <!--end div basic-modal-->
  </div> <!--end div content-->
  <div id='footer'>
    &copy; 2013 Some copyright?</a><br/>
    <a href='https://github.com/ericmmartin/simplemodal'>Big Thanks to SimpleModal, Snippets, DataTables, JQuery</a><br/>
  </div> <!--end div footer-->
</div> <!--end div container-->

  <script type="text/javascript">
    var checkBoxCache = [false,false,false];

    $(document).ready(function(){
    $( "pre.code1" ).draggable();
    $("pre.code1").snippet("cpp",{style:"navy",box:"{{trace.firstLine}}",boxColor:"red",boxFill:"black",menu:false});
    $('.jquery').each(function() {
        eval($(this).html());
    });
    $('.button').button();

    });

    var oTable = $('#tracetable').dataTable( {
        "sScrollX": "100%",
        "sScrollY": "200px",
        "bScrollInfinite": true,
        "bScrollCollapse": true,
        "bSort": false
    } );

    $( "#slider" ).slider({
      value:1,
      min: 1,
      max: {{trace.length}},
      step: 1,
      slide: function( event, ui ) {
        var stepToLine = [{% for line in trace.lines %} {{line}}, {% endfor %}];
        var pos = (stepToLine[ui.value-1]).toString();
        $( "#step" ).val( ui.value );
        $("pre.code1").snippet("cpp",{style:"navy",box:pos,boxColor:"red",boxFill:"black",menu:false});
        var col = ui.value + 1;
        var nTrs = oTable.fnGetNodes();
        $('td.highlighted', oTable.fnGetNodes()).removeClass('highlighted');
        $('td:nth-child('+(col)+')', nTrs).addClass( 'highlighted' );
      }
    });
    $( "#step" ).val( $( "#slider" ).slider( "value" ) );
    var col = 1 + 1;
    var nTrs = oTable.fnGetNodes();
    $('td.highlighted', oTable.fnGetNodes()).removeClass('highlighted');
    $('td:nth-child('+(col)+')', nTrs).addClass( 'highlighted' );


    $(document).keydown(function(e){
      if (e.keyCode == 27) { 
        $("#tree").fadeOut();
	{% for vartrace in trace.values %}
	var var_{{vartrace.alias}}_checkbox = ($('.var_{{vartrace.alias}} :checkbox'));
	{% endfor %}
      }
    });

    function clickWatch() {
      $("#basic-modal-content").modal();
      {% for vartrace in trace.values %}
      var var_{{vartrace.alias}}_checkbox = ($('.var_{{vartrace.alias}} :checkbox'));
      {% endfor %}
      var checkBoxes = [{% for vartrace in trace.values %}var_{{vartrace.alias}}_checkbox,{% endfor %}];

      for(var i = 0; i < checkBoxes.length; i++) {
        if (checkBoxCache[i]) {
          (checkBoxes[i]).prop('checked', true);
        }
      }
    }

    function submitWatch() {
	{% for vartrace in trace.values %}
	var var_{{vartrace.alias}}_checkbox = ($('.var_{{vartrace.alias}} :checkbox'));
	{% endfor %}
        var checkBoxes = [{% for vartrace in trace.values %}var_{{vartrace.alias}}_checkbox,{% endfor %}];

        var aTrs = oTable.fnGetNodes();
        for ( var i=0 ; i < aTrs.length ; i++ )
        {
          oTable.fnDeleteRow(aTrs[i]);
        }

	var trace = [
	{% for vartrace in trace.values %}
	["{{vartrace.name}}", {% for val in vartrace.values %} "{{val}}",{% endfor %}],
	{% endfor %}
	];
        for (var i = trace.length - 1; i >= 0; i--) {
          if (checkBoxes[i].is(':checked')) {
            checkBoxCache[i] = true;
            oTable.fnAddData(trace[i]);
          }
          else {
            checkBoxCache[i] = false;
          }
        }

        var col = $( "#slider" ).slider( "value" ) + 1;
        var nTrs = oTable.fnGetNodes();
        $('td.highlighted', oTable.fnGetNodes()).removeClass('highlighted');
        $('td:nth-child('+(col)+')', nTrs).addClass( 'highlighted' );

        var esc = $.Event("keydown", { keyCode: 27 });
        $("#basic-modal-content").trigger(esc);
    }

  </script>

  </body>
</html>
