{% load dajaxice_templatetags %}
{% load url from future %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Crowdsolving</title>
<script src="http://crowdprover.herokuapp.com/static/js/jquery-1.9.1.js"></script>
<script src="http://crowdprover.herokuapp.com/static/js/jquery-ui.js"></script>
<link rel="stylesheet" href="http://crowdprover.herokuapp.com/static/css/jquery-ui.css" />
<script type="text/javascript" src="http://crowdprover.herokuapp.com/static/js/jquery.snippet.js"></script>
<link rel="stylesheet" type="text/css" href="http://crowdprover.herokuapp.com/static/css/jquery.snippet.css" />
<script src="http://crowdprover.herokuapp.com/static/js/iphone-style-checkboxes.js" type="text/javascript" charset="utf-8"></script>
<script type='text/javascript' src='http://crowdprover.herokuapp.com/static/js/jquery.simplemodal.js'></script>
<script type='text/javascript' src='http://crowdprover.herokuapp.com/static/js/basic.js'></script>
<link type='text/css' href='http://crowdprover.herokuapp.com/static/css/demo.css' rel='stylesheet' media='screen' />
<link type='text/css' href='http://crowdprover.herokuapp.com/static/css/basic.css' rel='stylesheet' media='screen' />
<script type='text/javascript' src='http://crowdprover.herokuapp.com/static/js/jquery.dataTables.js'></script>
<link rel="stylesheet" type="text/css" href="http://crowdprover.herokuapp.com/static/css/demo_table.css" />
<link rel="stylesheet" type="text/css" href="http://crowdprover.herokuapp.com/static/css/jquery.dataTables.css" />
<link rel="stylesheet" type="text/css" href="http://crowdprover.herokuapp.com/static/css/editablegrid-2.0.1.css" />
<script type='text/javascript' src='http://crowdprover.herokuapp.com/static/js/editablegrid-2.0.1.js'></script>
{% dajaxice_js_import %}

<style>
table.testgrid { 
	border-collapse: collapse; 
border: 1px solid #CCB;
width: 100%;
}

table.testgrid tr {
	border-bottom: 1px solid #DDD;
}

table.testgrid>tbody tr:hover {
	background-color: #888888;
color: white;
}

table.testgrid>tbody tr:hover a {
color: white;
}

table.testgrid th {
background: #E5E5E5;
border: 1px solid #D5D5D5;
color: #555;
       font-size: 11px;
       text-align: left;
       padding-left: 5px;
       padding-right: 0px;
       padding-top: 5px;
       padding-bottom: 5px;
       white-space: nowrap; 
}

table.testgrid td {
padding: 5px;
border: 1px solid #E0E0E0;
}

table.inputgrid { 
	border-collapse: collapse; 
border: 1px solid #CCB;
width: 100%;
}

table.inputgrid tr {
	border-bottom: 1px solid #DDD;
}

table.inputgrid>tbody tr:hover {
	background-color: #888888;
color: white;
}

table.inputgrid>tbody tr:hover a {
color: white;
}

table.inputgrid th {
background: #E5E5E5;
border: 1px solid #D5D5D5;
color: #555;
       font-size: 11px;
       text-align: left;
       padding-left: 5px;
       padding-right: 0px;
       padding-top: 5px;
       padding-bottom: 5px;
       white-space: nowrap; 
}

table.inputgrid td {
padding: 5px;
border: 1px solid #E0E0E0;
}


input.invalid { background: red; color: #FDFDFD; }

</style>

</head>
<body>

<div id='container'>
<div id='logo'>
<h1>prove<span>It</span></h1>
<span class='title'>Crowdsolving Software Verification</span>
</div> <!--end div logo-->
<div id='content'>
<div id='basic-modal'>
<p>Please review this program, and provide us with invariants that hold at different program points.
You can use the trace visualizer to help understand this program's behaviour.
</p>

<style>
#container {
	border: none;
height: auto;

	text-align: justify;
	-ms-text-justify: distribute-all-lines;
	text-justify: distribute-all-lines;

	/* just for demo */
	min-width: 980px;
}

.box1, .box2 {
width: auto;
height: auto;
	vertical-align: top;
display: inline-block;
	 *display: inline;
zoom: 1
}
.stretch {
width: 100%;
display: inline-block;
	 font-size: 0;
	 line-height: 0
}
.highlighted { background-color: yellow }
</style>
<div id="codeplusvis">
<div id="codeblock" class="box1">
<pre class="code1">{{code}}</pre>
</div> <!--end div codeblock-->


<div id="visualizer" class="box2">
<div align="right">
<div align="right">Set all program inputs</div>
<table id="inputtable" class="inputgrid">
<tr>
<th>Variable</th><th>Value</th>
</tr>
{% for input in trace.inputs %}
<tr id="inputrow{{forloop.counter}}">
<td>{{input.name}}</td><td id="input{{forloop.counter}}">{{input.default}}</td>
</tr>
{% endfor %}
</table>
</div>


  <div align="right">
	<input type="button" onclick="Dajaxice.proveit.programs.sayhello1(my_js_callback, {'program_id':{{program.id}}, 'inputs':[{%for input in trace.inputs %} $('#input{{forloop.counter}}').html() {% endfor %}]})" value="Compute Trace"/>
	</div>
	<br>
  <br>

        <div align="right">Select variables to observe</div>
        <div align="right"><input type='image' src="http://crowdprover.herokuapp.com/static/images/watch1.png" name='basic' value="" class='basic' onclick="clickWatch()"/></div>
        <p>
        <label for="step">Step #:</label>
        <input type="text" id="step" style="border: 0; color: #f6931f; font-weight: bold;" />
        </p>
        <div id="slider"></div>
        <br>
          <style>
          #visualtable {
              width: 480px;
          }
          </style>

      <div id="visualtable">
        <div id="pagecontrol">
        <label for="pagecontrol">Steps per page: </label>
        <select id="pagesize" name="pagesize">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
          <option value="25">25</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
        </select> 
      </div>
      <div id="tablecontent"></div>
      <div id="paginator"></div>
      </div> <!--end div visualtable-->


      </div> <!--end div visualizer-->
      <span class="stretch"></span>
      </div> <!-- end div codeplusvis-->

      <br>  

      <div align="left"> 
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<form action="{% url 'programs:submit' program.id %}" method="post">
	{% csrf_token %}
	<div>Your Name</br><textarea name="author" rows="1" cols="50"></textarea></div>
	<div>Your Invariant</br><textarea name="content" rows="3" cols="50"></textarea></div>
	<div>Line number after which your invariant holds</br><input type="number" name="line"></div>
	<div><input type="submit" value="Suggest Invariant"></div>
	</form>
      </div>

    <!-- modal content -->
    <div id="basic-modal-content" style="vertical-align:middle; text-align:left">
      <h3>Trace Visualizer Settings</h3>
      Select which variables you would like to display in the trace visualizer. <br><br>
      <table align="center">
	{% for vartrace in trace.values %}
        <tr class="var_{{ vartrace.alias }}">
          <th><label for="{{ vartrace.alias }}">{{ vartrace.name }}</label></th>
          <td>
            <input type="checkbox" id="{{ vartrace.alias }}"/>
          </td>
        </tr>
	{% endfor %}
      </table>
      <br><br>
      <input name="submit" id="submitme" type="image" 
        src="http://crowdprover.herokuapp.com/static/images/tick.png" 
        alt="Submit" 
        onclick="submitWatch();"
        tabindex="8"
        align="right"/>


    </div> <!--end div basic-modal-content-->

    <!-- preload the images -->
    <div style='display:none'>
      <img src='http://crowdprover.herokuapp.com/static/images/x.png' alt='' />
    </div>
    </div> <!--end div basic-modal-->
  </div> <!--end div content-->
  <div id='footer'>
    &copy; 2013 Some copyright?</a><br/>
    <a href='https://github.com/ericmmartin/simplemodal'>Big Thanks to SimpleModal, Snippets, EditableGrid, JQuery</a><br/>
  </div> <!--end div footer-->
</div> <!--end div container-->

  <script type="text/javascript">
    var checkBoxCache = [{% for vartrace in trace.values %}false,{% endfor %}];
    var trace;

    $(document).ready(function(){
    var zeEditableGrid;
    editableInGrid = new EditableGrid("DemoGridAttach");
    editableInGrid.load({ metadata: [
	{name: "variable", datatype: "string", editable:false},
	{name: "value", datatype: "string", editable:true},
    ]});
    editableInGrid.attachToHTMLTable("inputtable");
    editableInGrid.renderGrid();

    //this fill in the trace data structure
    Dajaxice.proveit.programs.sayhello1(my_js_callback, {'program_id':{{program.id}}, 'inputs':[{%for input in trace.inputs %} $('#input{{forloop.counter}}').html() {% endfor %}]})


    $("pre.code1").snippet("cpp",{style:"navy",box:({{trace.firstLine}}).toString(),boxColor:"red",boxFill:"black",menu:false});
    $('.jquery').each(function() {
        eval($(this).html());
    });
    $('.button').button();
    });

    $( "#slider" ).slider({
      value:1,
      min: 1,
      max: {{trace.length}},
      step: 1,
      slide: function( event, ui ) {
        var stepToLine = [{% for line in trace.lines %} {{line}}, {% endfor %}];
        var pos = (stepToLine[ui.value-1]).toString();
        $( "#step" ).val( ui.value );
        $("pre.code1").snippet("cpp",{style:"navy",box:pos,boxColor:"red",boxFill:"black",menu:false});
        var col = ui.value + 1;
      }
    });
    $( "#step" ).val( $( "#slider" ).slider( "value" ) );


    $(document).keydown(function(e){
      if (e.keyCode == 27) { 
        $("#tree").fadeOut();
	{% for vartrace in trace.values %}
	var var_{{vartrace.alias}}_checkbox = ($('.var_{{vartrace.alias}} :checkbox'));
	{% endfor %}
      }
    });

    function my_js_callback(data){
	trace = data;
	var oldStep = 0;

    	// this approach is interesting if you need to dynamically create data in Javascript 
    	var metadata = [];
    	metadata.push({ name: "step", label: "Step #", datatype: "integer", editable: false});
    	{% for vartrace in trace.values %}
    	j = {{forloop.counter}} - 1;
    	if (checkBoxCache[j]) {
    		metadata.push({ name: "{{vartrace.alias}}", label: "{{vartrace.name}}", datatype: "string", editable: false});
    	}
    	{% endfor %}

    	var data = [];
    	for (var i = 0; i < trace.length; i++) {
    		var thisvalues = {};
    		thisvalues.step = i + 1;
    		{% for vartrace in trace.values %}
    		j = {{forloop.counter}} - 1;
              	if (checkBoxCache[j]) {
              		thisvalues.{{vartrace.alias}} = trace.values[j].values[i];
    		}
    		{% endfor %}
    		data.push({id: i, values: thisvalues});  
    	}
 
    	$( "#slider" ).slider({
    	value:1,
    	min: 1,
    	max: trace.length,
    	step: 1,
    	slide: function( event, ui ) {
    		var stepToLine = trace.lines;
    		var pos = (stepToLine[ui.value-1]).toString();
    		$( "#step" ).val( ui.value );
    		$("pre.code1").snippet("cpp",{style:"navy",box:pos,boxColor:"red",boxFill:"black",menu:false});
		stepsperpage = zeEditableGrid.pageSize;
		minStep = zeEditableGrid.getCurrentPageIndex() * zeEditableGrid.pageSize + 1;
		maxStep = (zeEditableGrid.getCurrentPageIndex() + 1) * zeEditableGrid.pageSize;
		newStep = ui.value;
		
		if (zeEditableGrid.getCurrentPageIndex() != Math.floor((oldStep - 1) / stepsperpage)) {
			zeEditableGrid.setPageIndex(Math.floor((oldStep - 1) / stepsperpage));
		}
		
		if (minStep <= newStep && newStep <= maxStep) {
			//from current page to current page
			console.log("within 1:", minStep, maxStep, newStep, zeEditableGrid.getCurrentPageIndex());
			$("#tablecontent").find('tr').eq(newStep % stepsperpage).css("background-color", "#FFFF00");
			$("#tablecontent").find('tr').eq(oldStep % stepsperpage).css("background-color", "#FFFFFF");
		}
		else if (oldStep == minStep && newStep < minStep) {
			console.log("within 2:", minStep, maxStep, newStep, zeEditableGrid.getCurrentPageIndex());
			zeEditableGrid.prevPage();
			$("#tablecontent").find('tr').eq(newStep % stepsperpage).css("background-color", "#FFFF00");
		}
		else if (oldStep == maxStep && newStep > maxStep) {
			console.log("within 3:", minStep, maxStep, newStep, zeEditableGrid.getCurrentPageIndex());
			zeEditableGrid.newPage();
			$("#tablecontent").find('tr').eq(newStep % stepsperpage).css("background-color", "#FFFF00");
		}
		oldStep = newStep;
		}
    	});

      editableGrid = new EditableGrid("DemoGridFull", {pageSize: 10, maxBars: 10});

      EditableGrid.prototype.initializeGrid = function() 
      {
        with (this) {
          // register the function that will handle model changes
          modelChanged = function(rowIndex, columnIndex, oldValue, newValue, row) { 
            
          };
          
          // update paginator whenever the table is rendered (after a sort, filter, page change, etc.)
          tableRendered = function() { this.updatePaginator(); };

          rowSelected = function(oldRowIndex, newRowIndex) {
            
          };
          
          // render the grid (parameters will be ignored if we have attached to an existing HTML table)
          renderGrid("tablecontent", "testgrid", "tableid");
          
          // bind page size selector
          $("#pagesize").val(pageSize).change(function() { editableGrid.setPageSize($("#pagesize").val()); });
        }
      };

      EditableGrid.prototype.duplicate = function(rowIndex) 
      {
        
        // copy values from given row
        var values = this.getRowValues(rowIndex);
        values['name'] = values['name'] + ' (copy)';

        // get id for new row (max id + 1)
        var newRowId = 0;
        for (var r = 0; r < this.getRowCount(); r++) newRowId = Math.max(newRowId, parseInt(this.getRowId(r)) + 1);
        
        // add new row
        this.insertAfter(rowIndex, newRowId, values); 
      };

      // function to render the paginator control
      EditableGrid.prototype.updatePaginator = function()
      {
        
        var paginator = $("#paginator").empty();
        var nbPages = this.getPageCount();

        // get interval
        var interval = this.getSlidingPageInterval(20);
        if (interval == null) return;
        
        // get pages in interval (with links except for the current page)
        var pages = this.getPagesInInterval(interval, function(pageIndex, isCurrent) {
          if (isCurrent) return "" + (pageIndex + 1);
          return $("<a>").css("cursor", "pointer").html(pageIndex + 1).click(function(event) { editableGrid.setPageIndex(parseInt($(this).html()) - 1); });
        });
          
        // "first" link
        var link = $("<a>").html("<img src='" + image("gofirst.png") + "'/>&nbsp;");
        if (!this.canGoBack()) link.css({ opacity : 0.4, filter: "alpha(opacity=40)" });
        else link.css("cursor", "pointer").click(function(event) { editableGrid.firstPage(); });
        paginator.append(link);

        // "prev" link
        link = $("<a>").html("<img src='" + image("prev.png") + "'/>&nbsp;");
        if (!this.canGoBack()) link.css({ opacity : 0.4, filter: "alpha(opacity=40)" });
        else link.css("cursor", "pointer").click(function(event) { editableGrid.prevPage(); });
        paginator.append(link);

        // pages
        for (p = 0; p < pages.length; p++) paginator.append(pages[p]).append(" | ");
        
        // "next" link
        link = $("<a>").html("<img src='" + image("next.png") + "'/>&nbsp;");
        if (!this.canGoForward()) link.css({ opacity : 0.4, filter: "alpha(opacity=40)" });
        else link.css("cursor", "pointer").click(function(event) { editableGrid.nextPage(); });
        paginator.append(link);

        // "last" link
        link = $("<a>").html("<img src='" + image("golast.png") + "'/>&nbsp;");
        if (!this.canGoForward()) link.css({ opacity : 0.4, filter: "alpha(opacity=40)" });
        else link.css("cursor", "pointer").click(function(event) { editableGrid.lastPage(); });
        paginator.append(link);
      };

        editableGrid.initializeGrid();
    	editableGrid.load({"metadata": metadata, "data": data});
    	editableGrid.renderGrid("tablecontent", "testgrid");
	zeEditableGrid = editableGrid;


        $("pre.code1").snippet("cpp",{style:"navy",box:trace.firstLine.toString(),boxColor:"red",boxFill:"black",menu:false});
    	$('#slider').slider("option", "max", trace.length);
    	$('#slider').slider("value", 1);
    	$( "#step" ).val( $( "#slider" ).slider( "value" ) );
    }


    function clickWatch() {
      $("#basic-modal-content").modal();
      {% for vartrace in trace.values %}
      var var_{{vartrace.alias}}_checkbox = ($('.var_{{vartrace.alias}} :checkbox'));
      {% endfor %}
      var checkBoxes = [{% for vartrace in trace.values %}var_{{vartrace.alias}}_checkbox,{% endfor %}];

      for(var i = 0; i < checkBoxes.length; i++) {
        if (checkBoxCache[i]) {
          (checkBoxes[i]).prop('checked', true);
        }
      }
    }

    function submitWatch() {
    	{% for vartrace in trace.values %}
    	var var_{{vartrace.alias}}_checkbox = ($('.var_{{vartrace.alias}} :checkbox'));
    	{% endfor %}
      var checkBoxes = [{% for vartrace in trace.values %}var_{{vartrace.alias}}_checkbox,{% endfor %}];

      for (var i = {{trace.numvars}} - 1; i >= 0; i--) {
        if (checkBoxes[i].is(':checked')) {
            checkBoxCache[i] = true;
        }
        else {
          checkBoxCache[i] = false;
        }
      }


    	// this approach is interesting if you need to dynamically create data in Javascript 
    	var metadata = [];
    	metadata.push({ name: "step", label: "Step #", datatype: "integer", editable: false});
    	{% for vartrace in trace.values %}
    	j = {{forloop.counter}} - 1;
    	if (checkBoxCache[j]) {
    		metadata.push({ name: "{{vartrace.alias}}", label: "{{vartrace.name}}", datatype: "string", editable: false});
    	}
    	{% endfor %}

    	var data = [];
    	for (var i = 0; i < trace.length; i++) {
    		var thisvalues = {};
    		thisvalues.step = i + 1;
    		{% for vartrace in trace.values %}
    		j = {{forloop.counter}} - 1;
              	if (checkBoxCache[j]) {
              		thisvalues.{{vartrace.alias}} = trace.values[j].values[i];
    		}
    		{% endfor %}
    		data.push({id: i, values: thisvalues});  
    	}
    	
      editableGrid = new EditableGrid("DemoGridFull", {pageSize: 10, maxBars: 10});

      EditableGrid.prototype.initializeGrid = function() 
      {
        with (this) {
          
          // register the function that will handle model changes
          modelChanged = function(rowIndex, columnIndex, oldValue, newValue, row) { 
            
          };
          
          // update paginator whenever the table is rendered (after a sort, filter, page change, etc.)
          tableRendered = function() { this.updatePaginator(); };

          rowSelected = function(oldRowIndex, newRowIndex) {
            
          };
          
          // render the grid (parameters will be ignored if we have attached to an existing HTML table)
          renderGrid("tablecontent", "testgrid", "tableid");
          
          // bind page size selector
          $("#pagesize").val(pageSize).change(function() { editableGrid.setPageSize($("#pagesize").val()); });
        }
      };

      EditableGrid.prototype.duplicate = function(rowIndex) 
      {
        
        // copy values from given row
        var values = this.getRowValues(rowIndex);
        values['name'] = values['name'] + ' (copy)';

        // get id for new row (max id + 1)
        var newRowId = 0;
        for (var r = 0; r < this.getRowCount(); r++) newRowId = Math.max(newRowId, parseInt(this.getRowId(r)) + 1);
        
        // add new row
        this.insertAfter(rowIndex, newRowId, values); 
      };

      // function to render the paginator control
      EditableGrid.prototype.updatePaginator = function()
      {
        
        var paginator = $("#paginator").empty();
        var nbPages = this.getPageCount();

        // get interval
        var interval = this.getSlidingPageInterval(20);
        if (interval == null) return;
        
        // get pages in interval (with links except for the current page)
        var pages = this.getPagesInInterval(interval, function(pageIndex, isCurrent) {
          if (isCurrent) return "" + (pageIndex + 1);
          return $("<a>").css("cursor", "pointer").html(pageIndex + 1).click(function(event) { editableGrid.setPageIndex(parseInt($(this).html()) - 1); });
        });
          
        // "first" link
        var link = $("<a>").html("<img src='" + image("gofirst.png") + "'/>&nbsp;");
        if (!this.canGoBack()) link.css({ opacity : 0.4, filter: "alpha(opacity=40)" });
        else link.css("cursor", "pointer").click(function(event) { editableGrid.firstPage(); });
        paginator.append(link);

        // "prev" link
        link = $("<a>").html("<img src='" + image("prev.png") + "'/>&nbsp;");
        if (!this.canGoBack()) link.css({ opacity : 0.4, filter: "alpha(opacity=40)" });
        else link.css("cursor", "pointer").click(function(event) { editableGrid.prevPage(); });
        paginator.append(link);

        // pages
        for (p = 0; p < pages.length; p++) paginator.append(pages[p]).append(" | ");
        
        // "next" link
        link = $("<a>").html("<img src='" + image("next.png") + "'/>&nbsp;");
        if (!this.canGoForward()) link.css({ opacity : 0.4, filter: "alpha(opacity=40)" });
        else link.css("cursor", "pointer").click(function(event) { editableGrid.nextPage(); });
        paginator.append(link);

        // "last" link
        link = $("<a>").html("<img src='" + image("golast.png") + "'/>&nbsp;");
        if (!this.canGoForward()) link.css({ opacity : 0.4, filter: "alpha(opacity=40)" });
        else link.css("cursor", "pointer").click(function(event) { editableGrid.lastPage(); });
        paginator.append(link);
      };

        editableGrid.initializeGrid();
    	editableGrid.load({"metadata": metadata, "data": data});
    	editableGrid.renderGrid("tablecontent", "testgrid");
	zeEditableGrid = editableGrid;


      var esc = $.Event("keydown", { keyCode: 27 });
      $("#basic-modal-content").trigger(esc);
    }


    function image(relativePath) {
    	return "http://crowdprover.herokuapp.com/static/images/" + relativePath;
    }



  </script>

  </body>
</html>
