{% load dajaxice_templatetags %}
{% load url from future %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>proveIt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--script src="http://crowdprover.herokuapp.com/static/js/jquery-1.9.1.js"></script-->
    <script src="http://crowdprover.herokuapp.com/static/bootstrap/js/jquery.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script>
    <script src="http://crowdprover.herokuapp.com/static/js/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://crowdprover.herokuapp.com/static/css/jquery-ui.css" />
    <!-- Le styles -->

    <link href="http://crowdprover.herokuapp.com/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="http://crowdprover.herokuapp.com/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="http://crowdprover.herokuapp.com/static/bootstrap/css/docs.css" rel="stylesheet">
    <!--link href="http://crowdprover.herokuapp.com/static/bootstrap/css/slider.css" rel="stylesheet"-->


    <link rel="stylesheet" type="text/css" href="http://crowdprover.herokuapp.com/static/css/jquery.snippet.css" />
    <script type="text/javascript" src="http://crowdprover.herokuapp.com/static/js/jquery.snippet.js"></script>

    <link rel="stylesheet" type="text/css" href="http://crowdprover.herokuapp.com/static/css/editablegrid-2.0.1.css" />
    <script type='text/javascript' src='http://crowdprover.herokuapp.com/static/js/editablegrid-2.0.1.js'></script>

    <style>
  #slider1 {
    width: 100%;
  }

    table.testgrid { 
      border-collapse: collapse; 
    border: 1px solid #CCB;
    width: 100%;
    }

    table.testgrid tr {
      border-bottom: 1px solid #DDD;
    }

    table.testgrid>tbody tr:hover {
      background-color: #c0c0c0;
    color: white;
    }

    table.testgrid>tbody tr:hover a {
    color: black;
    }

    table.testgrid th {
    background: #E5E5E5;
    border: 1px solid #D5D5D5;
    color: #555;
           font-size: 11px;
           text-align: left;
           padding-left: 5px;
           padding-right: 0px;
           padding-top: 5px;
           padding-bottom: 5px;
           white-space: nowrap; 
    }

    table.testgrid td {
    padding: 5px;
    border: 1px solid #E0E0E0;
    }

    table.inputgrid { 
      border-collapse: collapse; 
    border: 1px solid #CCB;
    width: 100%;
    }

    table.inputgrid tr {
      border-bottom: 1px solid #DDD;
    }

    table.inputgrid>tbody tr:hover {
      background-color: #888888;
    color: white;
    }

    table.inputgrid>tbody tr:hover a {
    color: white;
    }

    table.inputgrid th {
    background: #E5E5E5;
    border: 1px solid #D5D5D5;
    color: #555;
           font-size: 11px;
           text-align: left;
           padding-left: 5px;
           padding-right: 0px;
           padding-top: 5px;
           padding-bottom: 5px;
           white-space: nowrap; 
    }

    table.inputgrid td {
    padding: 5px;
    border: 1px solid #E0E0E0;
    }

   #cexModal .modal-body {
    min-width: 640px;
    }
   #loopcexModal .modal-body {
    min-width: 640px;
    }

   #cexModal {
	width: 900px; /* SET THE WIDTH OF THE MODAL */
   }
   #loopcexModal {
	width: 900px; /* SET THE WIDTH OF THE MODAL */
   }

    input.invalid { background: red; color: #FDFDFD; }

    </style>

    <script type="text/javascript">
    var checkBoxCache = [{% for vartrace in trace.values %}false,{% endfor %}];
    var trace;
    var computeTraceCount = 0;
    var oldStep = 1;

    function saveSettings() {
      {% for vartrace in trace.values %}
      var var_{{vartrace.alias}}_checkbox = ($('.var_{{vartrace.alias}} :checkbox'));
      {% endfor %}
      var checkBoxes = [{% for vartrace in trace.values %}var_{{vartrace.alias}}_checkbox,{% endfor %}];

      renderAgain = false;
      for (var i = {{trace.numvars}} - 1; i >= 0; i--) {
        if (checkBoxes[i].is(':checked') != checkBoxCache[i]) {
            checkBoxCache[i] = checkBoxes[i].is(':checked');
            renderAgain = true;
        }
      }

      if (! renderAgain) {
        $('#settingsModal').modal('hide');
        return;
      }

      // this approach is interesting if you need to dynamically create data in Javascript 
      var metadata = [];
      metadata.push({ name: "step", label: "Step #", datatype: "integer", editable: false});
      {% for vartrace in trace.values %}
      j = {{forloop.counter}} - 1;
      if (checkBoxCache[j]) {
        metadata.push({ name: "{{vartrace.alias}}", label: "{{vartrace.name}}", datatype: "string", editable: false});
      }
      {% endfor %}

      var data = [];
      for (var i = 0; i < trace.length; i++) {
        var thisvalues = {};
        thisvalues.step = i + 1;
        {% for vartrace in trace.values %}
        j = {{forloop.counter}} - 1;
                if (checkBoxCache[j]) {
                  thisvalues.{{vartrace.alias}} = trace.values[j].values[i];
        }
        {% endfor %}
        data.push({id: i, values: thisvalues});  
       }
      
      editableGrid = new EditableGrid("DemoGridFull2", {pageSize: 5, maxBars: 10});

      EditableGrid.prototype.initializeGrid = function() 
      {
        with (this) {
          
          // register the function that will handle model changes
          modelChanged = function(rowIndex, columnIndex, oldValue, newValue, row) { 
            
          };
          
          // update paginator whenever the table is rendered (after a sort, filter, page change, etc.)
          tableRendered = function() { this.updatePaginator(); };

          rowSelected = function(oldRowIndex, newRowIndex) {
            
          };
          
          // render the grid (parameters will be ignored if we have attached to an existing HTML table)
          //renderGrid("tablecontent", "testgrid", "tableid");
          
          // bind page size selector
          $("#pagesize").val(pageSize).change(function() { editableGrid.setPageSize($("#pagesize").val()); });
        }
      };

      EditableGrid.prototype.duplicate = function(rowIndex) 
      {
        
        // copy values from given row
        var values = this.getRowValues(rowIndex);
        values['name'] = values['name'] + ' (copy)';

        // get id for new row (max id + 1)
        var newRowId = 0;
        for (var r = 0; r < this.getRowCount(); r++) newRowId = Math.max(newRowId, parseInt(this.getRowId(r)) + 1);
        
        // add new row
        this.insertAfter(rowIndex, newRowId, values); 
      };

      // function to render the paginator control
      EditableGrid.prototype.updatePaginator = function()
      {
        
        var paginator = $("#paginator").empty();
        var nbPages = this.getPageCount();

        // get interval
        var interval = this.getSlidingPageInterval(20);
        if (interval == null) return;
        
        // get pages in interval (with links except for the current page)
        var pages = this.getPagesInInterval(interval, function(pageIndex, isCurrent) {
          if (isCurrent) return "" + (pageIndex + 1);
          return $("<a>").css("cursor", "pointer").html(pageIndex + 1).click(function(event) { editableGrid.setPageIndex(parseInt($(this).html()) - 1); });
        });
          
        // "first" link
        var link = $("<a>").html("<img src='" + image("gofirst.png") + "'/>&nbsp;");
        if (!this.canGoBack()) link.css({ opacity : 0.4, filter: "alpha(opacity=40)" });
        else link.css("cursor", "pointer").click(function(event) { editableGrid.firstPage(); });
        paginator.append(link);

        // "prev" link
        link = $("<a>").html("<img src='" + image("prev.png") + "'/>&nbsp;");
        if (!this.canGoBack()) link.css({ opacity : 0.4, filter: "alpha(opacity=40)" });
        else link.css("cursor", "pointer").click(function(event) { editableGrid.prevPage(); });
        paginator.append(link);

        // pages
        for (p = 0; p < pages.length; p++) paginator.append(pages[p]).append(" | ");
        
        // "next" link
        link = $("<a>").html("<img src='" + image("next.png") + "'/>&nbsp;");
        if (!this.canGoForward()) link.css({ opacity : 0.4, filter: "alpha(opacity=40)" });
        else link.css("cursor", "pointer").click(function(event) { editableGrid.nextPage(); });
        paginator.append(link);

        // "last" link
        link = $("<a>").html("<img src='" + image("golast.png") + "'/>&nbsp;");
        if (!this.canGoForward()) link.css({ opacity : 0.4, filter: "alpha(opacity=40)" });
        else link.css("cursor", "pointer").click(function(event) { editableGrid.lastPage(); });
        paginator.append(link);
      };

      editableGrid.load({"metadata": metadata, "data": data});
      editableGrid.initializeGrid();
      editableGrid.renderGrid("tablecontent", "testgrid");
      zeEditableGrid = editableGrid;

      var stepsperpage = zeEditableGrid.pageSize;
      if (zeEditableGrid.getCurrentPageIndex() != Math.floor((oldStep - 1) / stepsperpage)) {
          zeEditableGrid.setPageIndex(Math.floor((oldStep - 1) / stepsperpage));
      }
      var currentPage = zeEditableGrid.getCurrentPageIndex();
      $("#tablecontent").find('tr').eq(oldStep - currentPage * stepsperpage).css("background-color", "#FFFF00");

      $('#settingsModal').modal('hide');
    }

    function slide_prev() {
	currentVal = $('#slider1').slider("value");
        min = $('#slider1').slider("option", "min");
	if (currentVal > min) {
	  $('#slider1').slider("value", currentVal - 1);
          $( "#step" ).val( currentVal - 1 );
        }
    }
    function slide_next() {
	currentVal = $('#slider1').slider("value");
        max = $('#slider1').slider("option", "max");
	if (currentVal < max) {
	  $('#slider1').slider("value", currentVal + 1);
          $( "#step" ).val( currentVal + 1 );
        }
    }

    // Feedback about submitted invariant
    function send_invariant_callback(response){
      oldStep2 = 1;
      $('#suggest_invariant_button').button('reset');
      switch(response.code) {
	case 0: code = "Maybe Invariant";
		content = "Not sure if " + "<b>" + response.invariant + "</b>" + " holds in all executions. We got a counter-example.";
		content += '<br><center><a href="#cexModal" role="button" class="btn btn-warning btn-small" data-toggle="modal">Counter-Example</a></center>'
		break;
	case 1: code = "Correct Invariant";
		content = "<b>" + response.invariant + "</b>" + " holds for all executions.";
		break;
	case 2: code = "Incorrect Invariant";
		content = "<b>" + response.invariant + "</b>" + " never holds for any execution.";
		break;
	case 3: code = "Parse Error";
		content = "We had trouble parsing " + "<b>" + response.invariant + "</b>";
		break;
	case 4: code = "Duplicate Invariant";
		content = response.author + " already submitted an equivalent invariant " + "<b>" + response.invariant + "</b>";
		break;
      }
      $('#suggest_invariant_button').popover({html:true, animation: true, content: content, title: code});
      $('#suggest_invariant_button').popover('show');
	
      if (response.code != 0) {return;} //The following only needs to happen for counterexampes

      $( "#slider2" ).slider({
        value:1,
        min: 1,
        max: response.cex.length,
        step: 1,
        slide: function( event, ui ) {slideHandler2(event,ui);}
      });
      

      slideHandler2 = function(event,ui) {
        var stepToLine = response.cex.lines;
        var pos = (stepToLine[ui.value-1]).toString();
        $( "#step2" ).val( ui.value );
        $("pre.code3").snippet("cpp",{style:"navy",box:pos,boxColor:"red",boxFill:"black",menu:false});
        var newStep2 = ui.value;
        $("#tablecontent3").find('tr').eq(newStep2).css("background-color", "#FFFF00");
        $("#tablecontent3").find('tr').eq(oldStep2).css("background-color", "#FFFFFF");
        oldStep2 = newStep2;
      }

      
      editableGrid = new EditableGrid("DemoGridFull2", {maxBars: 10});
      editableInGrid2 = new EditableGrid("DemoGridFull3", {maxBars: 10});

      EditableGrid.prototype.initializeGrid = function() 
      {
        with (this) {
          // register the function that will handle model changes
          modelChanged = function(rowIndex, columnIndex, oldValue, newValue, row) { 
            
          };
          
          rowSelected = function(oldRowIndex, newRowIndex) {
            
          };
          
        }
      };

      EditableGrid.prototype.duplicate = function(rowIndex) 
      {
        
        // copy values from given row
        var values = this.getRowValues(rowIndex);
        values['name'] = values['name'] + ' (copy)';

        // get id for new row (max id + 1)
        var newRowId = 0;
        for (var r = 0; r < this.getRowCount(); r++) newRowId = Math.max(newRowId, parseInt(this.getRowId(r)) + 1);
        
        // add new row
        this.insertAfter(rowIndex, newRowId, values); 
      };


      var metadata = [];
      metadata.push({ name: "variable", label: "Variable", datatype: "string", editable: false});
      metadata.push({ name: "value", label: "Value", datatype: "string", editable: false});
      var data = [];
      for (var i = 0; i < response.cex.inputs.length; i++) {
        var thisvalues = {};
	thisvalues.variable = response.cex.inputs.names[i];
	thisvalues.value = response.cex.inputs.values[i];
        data.push({id: i, values: thisvalues});  
       }
      editableInGrid2.load({"metadata": metadata, "data": data});
      editableInGrid2.initializeGrid();
      editableInGrid2.renderGrid("tablecontent2", "testgrid");


      // this approach is interesting if you need to dynamically create data in Javascript 
      metadata = [];
      metadata.push({ name: "step", label: "Step #", datatype: "integer", editable: false});
      {% for vartrace in trace.values %}
      j = {{forloop.counter}} - 1;
      metadata.push({ name: "{{vartrace.alias}}", label: "{{vartrace.name}}", datatype: "string", editable: false});
      {% endfor %}

      data = [];
      for (var i = 0; i < response.cex.length; i++) {
        var thisvalues = {};
        thisvalues.step = i + 1;
        {% for vartrace in trace.values %}
        //j = {{forloop.counter}} - 1;
	j = 0;
	for (var k = 0; k < response.cex.values.length; k++) {
		if (response.cex.values[k].name == '{{vartrace.name}}') {
			j = k;
		}
	}
        thisvalues.{{vartrace.alias}} = response.cex.values[j].values[i];
        {% endfor %}
        data.push({id: i, values: thisvalues});  
       }
  
      editableGrid.load({"metadata": metadata, "data": data});
      editableGrid.initializeGrid();
      editableGrid.renderGrid("tablecontent3", "testgrid");

      $("pre.code3").snippet("cpp",{style:"navy",box:response.cex.firstLine.toString(),boxColor:"red",boxFill:"black",menu:false});
      $('#slider2').slider("option", "max", response.cex.length);
      $('#slider2').slider("value", 1);
      $( "#step2" ).val( $( "#slider2" ).slider( "value" ) );

      $("#tablecontent3").find('tr').eq(1).css("background-color", "#FFFF00");
 
    }

    // Feedback about submitted loop invariant
    function send_loop_invariant_callback(response){
      oldStep3 = 1;
      $('#suggest_loop_invariant_button').button('reset');
      switch(response.code) {
	case 0: code = "Maybe Loop Invariant";
		content = "Not sure if " + "<b>" + response.invariant + "</b>" + " holds in all executions. We got a counter-example.";
		content += '<br><center><a href="#loopcexModal" role="button" class="btn btn-warning btn-small" data-toggle="modal">Counter-Example</a></center>'
		break;
	case 1: code = "Correct Loop Invariant";
		content = "<b>" + response.invariant + "</b>" + " holds for all executions.";
		break;
	case 2: code = "Incorrect Loop Invariant";
		content = "<b>" + response.invariant + "</b>" + " never holds for any execution.";
		break;
	case 3: code = "Parse Error";
		content = "We had trouble parsing " + "<b>" + response.invariant + "</b>";
		break;
	case 4: code = "Duplicate Loop Invariant";
		content = response.author + " already submitted an equivalent invariant " + "<b>" + response.invariant + "</b>";
		break;
      }
      $('#suggest_loop_invariant_button').popover({html:true, animation: true, content: content, title: code});
      $('#suggest_loop_invariant_button').popover('show');
	
      if (response.code != 0) {return;} //The following only needs to happen for counterexampes

      $( "#slider3" ).slider({
        value:1,
        min: 1,
        max: response.cex.length,
        step: 1,
        slide: function( event, ui ) {slideHandler3(event,ui);}
      });
      

      slideHandler3 = function(event,ui) {
        var stepToLine = response.cex.lines;
        var pos = (stepToLine[ui.value-1]).toString();
        $( "#step3" ).val( ui.value );
        $("pre.code4").snippet("cpp",{style:"navy",box:pos,boxColor:"red",boxFill:"black",menu:false});
        var newStep3 = ui.value;
        $("#tablecontent5").find('tr').eq(newStep3).css("background-color", "#FFFF00");
        $("#tablecontent5").find('tr').eq(oldStep3).css("background-color", "#FFFFFF");
        oldStep3 = newStep3;
      }

      
      editableGrid = new EditableGrid("DemoGridFull4", {maxBars: 10});
      editableInGrid2 = new EditableGrid("DemoGridFull5", {maxBars: 10});

      EditableGrid.prototype.initializeGrid = function() 
      {
        with (this) {
          // register the function that will handle model changes
          modelChanged = function(rowIndex, columnIndex, oldValue, newValue, row) { 
            
          };
          
          rowSelected = function(oldRowIndex, newRowIndex) {
            
          };
          
        }
      };

      EditableGrid.prototype.duplicate = function(rowIndex) 
      {
        
        // copy values from given row
        var values = this.getRowValues(rowIndex);
        values['name'] = values['name'] + ' (copy)';

        // get id for new row (max id + 1)
        var newRowId = 0;
        for (var r = 0; r < this.getRowCount(); r++) newRowId = Math.max(newRowId, parseInt(this.getRowId(r)) + 1);
        
        // add new row
        this.insertAfter(rowIndex, newRowId, values); 
      };


      var metadata = [];
      metadata.push({ name: "variable", label: "Variable", datatype: "string", editable: false});
      metadata.push({ name: "value", label: "Value", datatype: "string", editable: false});
      var data = [];
      for (var i = 0; i < response.cex.inputs.length; i++) {
        var thisvalues = {};
	thisvalues.variable = response.cex.inputs.names[i];
	thisvalues.value = response.cex.inputs.values[i];
        data.push({id: i, values: thisvalues});  
       }
      editableInGrid2.load({"metadata": metadata, "data": data});
      editableInGrid2.initializeGrid();
      editableInGrid2.renderGrid("tablecontent4", "testgrid");


      // this approach is interesting if you need to dynamically create data in Javascript 
      metadata = [];
      metadata.push({ name: "step", label: "Step #", datatype: "integer", editable: false});
      {% for vartrace in trace.values %}
      j = {{forloop.counter}} - 1;
      metadata.push({ name: "{{vartrace.alias}}", label: "{{vartrace.name}}", datatype: "string", editable: false});
      {% endfor %}

      data = [];
      for (var i = 0; i < response.cex.length; i++) {
        var thisvalues = {};
        thisvalues.step = i + 1;
        {% for vartrace in trace.values %}
        //j = {{forloop.counter}} - 1;
	j = 0;
	for (var k = 0; k < response.cex.values.length; k++) {
		if (response.cex.values[k].name == '{{vartrace.name}}') {
			j = k;
		}
	}
        thisvalues.{{vartrace.alias}} = response.cex.values[j].values[i];
        {% endfor %}
        data.push({id: i, values: thisvalues});  
       }
  
      editableGrid.load({"metadata": metadata, "data": data});
      editableGrid.initializeGrid();
      editableGrid.renderGrid("tablecontent5", "testgrid");

      $("pre.code4").snippet("cpp",{style:"navy",box:response.cex.firstLine.toString(),boxColor:"red",boxFill:"black",menu:false});
      $('#slider3').slider("option", "max", response.cex.length);
      $('#slider3').slider("value", 1);
      $( "#step3" ).val( $( "#slider3" ).slider( "value" ) );

      $("#tablecontent5").find('tr').eq(1).css("background-color", "#FFFF00");
 
    }

    function compute_trace() {
        Dajaxice.proveit.programs.computeTrace(compute_trace_callback, {'program_id':{{program.id}}, 'inputs':[{%for input in trace.inputs %} $('#input{{forloop.counter}}').html() {% endfor %}]});
        $('#compute_trace_button').button('loading');
    }

    // Submit invariant to the server
    function send_invariant(){
      $('#suggest_invariant_button').popover('destroy');
      author = "{{ request.user.username }}";
      invariant = $("#Invariant_Form :input[name=content]").val();
      line = $("#Invariant_Form :input[name=line]").val();
      $('#suggest_invariant_button').button('loading');
      Dajaxice.proveit.programs.suggestInvariant(send_invariant_callback,{'program_id':{{program.id}},'author':author,'invariant':invariant,'line':line});
    }
    // Submit loop invariant to the server
    function send_loop_invariant(){
      $('#suggest_loop_invariant_button').popover('destroy');
      author = "{{ request.user.username }}";
      invariant = $("#LoopInvariant_Form :input[name=content]").val();
      loop_id = $("#LoopInvariant_Form :input[name=loopid]").val();
      $('#suggest_loop_invariant_button').button('loading');
      Dajaxice.proveit.programs.suggestLoopInvariant(send_loop_invariant_callback,{'program_id':{{program.id}},'author':author,'invariant':invariant,'loop_id':loop_id});
    }

    $(document).ready(function(){
        $("pre.code1").snippet("cpp",{style:"navy",boxColor:"red",boxFill:"black",menu:false});
        $("pre.code2").snippet("cpp",{style:"navy",box:({{trace.firstLine}}).toString(),boxColor:"red",boxFill:"black",menu:false});
        $("pre.code3").snippet("cpp",{style:"navy",boxColor:"red",boxFill:"black",menu:false});
        $("pre.code4").snippet("cpp",{style:"navy",boxColor:"red",boxFill:"black",menu:false});
        zeEditableGrid = 0;
        editableInGrid = new EditableGrid("DemoGridAttach");
        editableInGrid.load({ metadata: [
          {name: "variable", datatype: "string", editable:false},
          {name: "value", datatype: "string", editable:true},
        ]});

        editableInGrid.attachToHTMLTable("inputtable");
        editableInGrid.renderGrid();
        $('.jquery').each(function() {
          eval($(this).html());
        });
        $('.button').button();
        $( "#slider1" ).slider({
            value:1,
            min: 1,
            max: {{trace.length}},
            step: 1,
            slide: function( event, ui ) {slideHandler(event,ui);}
        });

      $('#slider1').slider().bind('slidechange',function(event,ui){slideHandler(event,ui);});
      slideHandler = function(event,ui) {
        var stepToLine = trace.lines;
        var pos = (stepToLine[ui.value-1]).toString();
        $( "#step" ).val( ui.value );
        $("pre.code2").snippet("cpp",{style:"navy",box:pos,boxColor:"red",boxFill:"black",menu:false});
        var stepsperpage = zeEditableGrid.pageSize;
        var newStep = ui.value;
       
	if (newStep == oldStep) { return; }
 
        if (zeEditableGrid.getCurrentPageIndex() != Math.floor((oldStep - 1) / stepsperpage)) {
          zeEditableGrid.setPageIndex(Math.floor((oldStep - 1) / stepsperpage));
        }
        var minStep = zeEditableGrid.getCurrentPageIndex() * stepsperpage + 1;
        var maxStep = (zeEditableGrid.getCurrentPageIndex() + 1) * stepsperpage;
        if (minStep <= newStep && newStep <= maxStep) {
          //from current page to current page
          var currentPage = zeEditableGrid.getCurrentPageIndex();
          $("#tablecontent").find('tr').eq(newStep - currentPage * stepsperpage).css("background-color", "#FFFF00");
          $("#tablecontent").find('tr').eq(oldStep - currentPage * stepsperpage).css("background-color", "#FFFFFF");
        }
        else if (oldStep == minStep && newStep < minStep) {
          zeEditableGrid.prevPage();
          var currentPage = zeEditableGrid.getCurrentPageIndex();
          $("#tablecontent").find('tr').eq(newStep - currentPage * stepsperpage).css("background-color", "#FFFF00");
        }
        else if (oldStep == maxStep && newStep > maxStep) {
          zeEditableGrid.nextPage();
          var currentPage = zeEditableGrid.getCurrentPageIndex();
          $("#tablecontent").find('tr').eq(newStep - currentPage * stepsperpage).css("background-color", "#FFFF00");
        }
        oldStep = newStep;
      }

        $( "#step" ).val( $( "#slider1" ).slider( "value" ) );
        Dajaxice.proveit.programs.computeTrace(compute_trace_callback, {'program_id':{{program.id}}, 'inputs':[{%for input in trace.inputs %} $('#input{{forloop.counter}}').html() {% endfor %}]});
    });

    function compute_trace_callback(data){
      trace = data;
      oldStep = 1;
      computeTraceCount += 1;

      $('#compute_trace_button').button('reset');

      // this approach is interesting if you need to dynamically create data in Javascript 
      var metadata = [];
      metadata.push({ name: "step", label: "Step #", datatype: "integer", editable: false});
      {% for vartrace in trace.values %}
      j = {{forloop.counter}} - 1;
      if (checkBoxCache[j]) {
        metadata.push({ name: "{{vartrace.alias}}", label: "{{vartrace.name}}", datatype: "string", editable: false});
      }
      {% endfor %}

      var data = [];
      for (var i = 0; i < trace.length; i++) {
        var thisvalues = {};
        thisvalues.step = i + 1;
        {% for vartrace in trace.values %}
        j = {{forloop.counter}} - 1;
                if (checkBoxCache[j]) {
                  thisvalues.{{vartrace.alias}} = trace.values[j].values[i];
        }
        {% endfor %}
        data.push({id: i, values: thisvalues});  
      }

      editableGrid = new EditableGrid("DemoGridFull1", {pageSize: 5, maxBars: 10});

      EditableGrid.prototype.initializeGrid = function() 
      {
        with (this) {
          // register the function that will handle model changes
          modelChanged = function(rowIndex, columnIndex, oldValue, newValue, row) { 
            
          };
          
          // update paginator whenever the table is rendered (after a sort, filter, page change, etc.)
          tableRendered = function() { this.updatePaginator(); };

          rowSelected = function(oldRowIndex, newRowIndex) {
            
          };
          
          // render the grid (parameters will be ignored if we have attached to an existing HTML table)
          //renderGrid("tablecontent", "testgrid", "tableid");
          
          // bind page size selector
          $("#pagesize").val(pageSize).change(function() { editableGrid.setPageSize($("#pagesize").val()); });
        }
      };

      EditableGrid.prototype.duplicate = function(rowIndex) 
      {
        
        // copy values from given row
        var values = this.getRowValues(rowIndex);
        values['name'] = values['name'] + ' (copy)';

        // get id for new row (max id + 1)
        var newRowId = 0;
        for (var r = 0; r < this.getRowCount(); r++) newRowId = Math.max(newRowId, parseInt(this.getRowId(r)) + 1);
        
        // add new row
        this.insertAfter(rowIndex, newRowId, values); 
      };

      // function to render the paginator control
      EditableGrid.prototype.updatePaginator = function()
      {
        
        var paginator = $("#paginator").empty();
        var nbPages = this.getPageCount();

        // get interval
        var interval = this.getSlidingPageInterval(20);
        if (interval == null) return;
        
        // get pages in interval (with links except for the current page)
        var pages = this.getPagesInInterval(interval, function(pageIndex, isCurrent) {
          if (isCurrent) return "" + (pageIndex + 1);
          return $("<a>").css("cursor", "pointer").html(pageIndex + 1).click(function(event) { editableGrid.setPageIndex(parseInt($(this).html()) - 1); });
        });
          
        // "first" link
        var link = $("<a>").html("<img src='" + image("gofirst.png") + "'/>&nbsp;");
        if (!this.canGoBack()) link.css({ opacity : 0.4, filter: "alpha(opacity=40)" });
        else link.css("cursor", "pointer").click(function(event) { editableGrid.firstPage(); });
        paginator.append(link);

        // "prev" link
        link = $("<a>").html("<img src='" + image("prev.png") + "'/>&nbsp;");
        if (!this.canGoBack()) link.css({ opacity : 0.4, filter: "alpha(opacity=40)" });
        else link.css("cursor", "pointer").click(function(event) { editableGrid.prevPage(); });
        paginator.append(link);

        // pages
        for (p = 0; p < pages.length; p++) paginator.append(pages[p]).append(" | ");
        
        // "next" link
        link = $("<a>").html("<img src='" + image("next.png") + "'/>&nbsp;");
        if (!this.canGoForward()) link.css({ opacity : 0.4, filter: "alpha(opacity=40)" });
        else link.css("cursor", "pointer").click(function(event) { editableGrid.nextPage(); });
        paginator.append(link);

        // "last" link
        link = $("<a>").html("<img src='" + image("golast.png") + "'/>&nbsp;");
        if (!this.canGoForward()) link.css({ opacity : 0.4, filter: "alpha(opacity=40)" });
        else link.css("cursor", "pointer").click(function(event) { editableGrid.lastPage(); });
        paginator.append(link);
      };

  
      editableGrid.load({"metadata": metadata, "data": data});
      editableGrid.initializeGrid();
      editableGrid.renderGrid("tablecontent", "testgrid");
      zeEditableGrid = editableGrid;

      $("pre.code2").snippet("cpp",{style:"navy",box:trace.firstLine.toString(),boxColor:"red",boxFill:"black",menu:false});
      $('#slider1').slider("option", "max", trace.length);
      $('#slider1').slider("value", 1);
      $( "#step" ).val( $( "#slider1" ).slider( "value" ) );

      var stepsperpage = zeEditableGrid.pageSize;
      if (zeEditableGrid.getCurrentPageIndex() != Math.floor((oldStep - 1) / stepsperpage)) {
          zeEditableGrid.setPageIndex(Math.floor((oldStep - 1) / stepsperpage));
      }
      var currentPage = zeEditableGrid.getCurrentPageIndex();
      $("#tablecontent").find('tr').eq(oldStep - currentPage * stepsperpage).css("background-color", "#FFFF00");
    }

    function image(relativePath) {
      return "http://crowdprover.herokuapp.com/static/images/" + relativePath;
    }

    function filter_inv() {
      //first find the checked choice
      var statusid = ""; //id of the chosen option for which invariants are to be displayed
      if ($("#inv_all").is(":checked")) statusid = "All";
      else if ($("#inv_correct").is(":checked")) statusid = "Correct";
      else if ($("#inv_unknown").is(":checked")) statusid = "Unknown";
      else if ($("#inv_incorrect").is(":checked")) statusid = "Incorrect";
      else statusid = "Axiom"


      var line = $('#filter_inv_line').val(); //value entered by the user
      var allrows = $("#inv_results_tbody").children(); //all the tr rows of the tbody
      var numrows = allrows.length
      for (var i=0;i<numrows;i++) {
        li = $($(allrows[i]).children()[2]).html() //line number for the ith invariant
        si = $($(allrows[i]).children()[0]).children().html() //status of the ith invariant
        li_trimmed = li.trim()
        si_trimmed = si.trim()
        if ( (line == "" || li_trimmed==line) && (statusid == si_trimmed || statusid == "All") ) {
          $(allrows[i]).show()
        }
        else {
          $(allrows[i]).hide()
        }
      }
    }

    function filter_loopinv() {
      //first find the checked choice
      var statusid = ""; //id of the chosen option for which invariants are to be displayed
      if ($("#loopinv_all").is(":checked")) statusid = "All";
      else if ($("#loopinv_correct").is(":checked")) statusid = "Correct";
      else if ($("#loopinv_unknown").is(":checked")) statusid = "Unknown";
      else if ($("#loopinv_incorrect").is(":checked")) statusid = "Incorrect";
      else statusid = "Axiom"


      var loopid = $('#filter_loopinv_id').val(); //value entered by the user
      var allrows = $("#loopinv_results_tbody").children(); //all the tr rows of the tbody
      var numrows = allrows.length
      for (var i=0;i<numrows;i++) {
        li = $($(allrows[i]).children()[2]).html() //loop id for the ith invariant
        si = $($(allrows[i]).children()[0]).children().html() //status of the ith invariant
        li_trimmed = li.trim()
        si_trimmed = si.trim()
        if ( (loopid == "" || li_trimmed==loopid) && (statusid == si_trimmed || statusid == "All") ) {
          $(allrows[i]).show()
        }
        else {
          $(allrows[i]).hide()
        }
      }
    }

    var disqus_def_name = "{{ user.get_full_name}}";
    var disqus_def_email = "{{ user.email }}";

    </script>


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://crowdprover.herokuapp.com/static/bootstrap/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://crowdprover.herokuapp.com/static/bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://crowdprover.herokuapp.com/static/bootstrap/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://crowdprover.herokuapp.com/static/bootstrap/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="http://crowdprover.herokuapp.com/static/bootstrap/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="http://crowdprover.herokuapp.com/static/bootstrap/ico/favicon.png">

{% dajaxice_js_import %}

  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

    <!-- Navbar
    ================================================== -->
    <!--div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">proveIt</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <a href="/">Home</a>
              </li>
              <li class="">
                <a href="/programs">Programs</a>
              </li>
              <li class="">
                <a href="#">Awards</a>
              </li>
              <li class="">
                <a href="#">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div-->

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">proveIt</a>
          <div class="nav-collapse collapse">
            {% if not request.user.is_authenticated %}
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="#">Tutorial</a></li>
              <li><a href="/register">Register</a></li>
            </ul>
            <form class="navbar-form pull-right" action="{% url 'logging' %}" method="post">
              {% csrf_token %}
              <input type="text" name="username" class="span2" placeholder="Username">
              <input type="password" name="password" class="span2" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>
            {% endif %}
            {% if request.user.is_authenticated %}
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/programs">Programs</a></li>
              <li><a href="/profile">Profile</a></li>
              <li><a href="#">Contact us</a></li>
            </ul>
            <form class="navbar-form pull-right" action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <input type="text" name="uname" class="span2" readonly value="{{ request.user }}">
              <button type="submit" class="btn">Logout</button>
            </form>
            {% endif %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


    <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#section_program"><i class="icon-chevron-right"></i> Code</a></li>
          <li><a href="#section_results"><i class="icon-chevron-right"></i> Results</a></li>
          <li><a href="#section_trace"><i class="icon-chevron-right"></i> Trace Visualizer</a></li>
          <li><a href="#section_feedback"><i class="icon-chevron-right"></i> Comments</a></li>
        </ul>
      </div>
      <div class="span9">


      <section id="section_heading">
      <div class="page-header">
        <h3>Code</h3>
          <p>Review this program, and suggest us invariants that hold at different program points.
             You can use the trace visualizer to help understand this program's behaviour.
             You can also view what others have suggested.</p>
      </div>
      <section>


      <!-- Example row of columns -->
      <section id="section_program">
      <div class="row-fluid">
        <div class="span5">
          <pre class="code1">{{code}}</pre>
       </div>
        <div class="span6" align="right">
          <h5>Suggest an invariant for a specific line</h5>
          <div align="right"> 
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	           <form action="javascript:void(0);" method="post" id="Invariant_Form" class="form-horizontal">
	           {% csrf_token %}
                   <div class="control-group">
                       <label class="control-label" for="Invariant_Form_inv">Invariant</label>
                       <div class="controls">
                         <input type="text" id="Invariant_Form_inv" placeholder="Predicate..." name="content">
                       </div>
                   </div>
                   <div class="control-group">
                       <label class="control-label" for="Invariant_Form_line">Line</label>
                       <div class="controls">
                         <input type="number" id="Invariant_Form_line" name="line">
                       </div>
                   </div>
                   <!--label>Invariant</label>
                   <input type="text" name="content" placeholder="Formula...">
                   <label>Line number</label>
	           <input type="number" name="line"></div-->
	           <div><input type="submit" onclick="send_invariant();" id="suggest_invariant_button" value="Suggest Invariant" class="btn btn-primary" data-toggle="popover" data-placement="right" data-loading-text="Proving..."></div>
                   </fieldset>
	           </form>
          </div>
          <br>
          <h5>Suggest a loop invariant for a specific loop</h5>
          <div align="right"> 
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	           <form action="javascript:void(0);" method="post" id="LoopInvariant_Form" class="form-horizontal">
	           {% csrf_token %}
                   <div class="control-group">
                       <label class="control-label" for="Invariant_Form_inv">Invariant</label>
                       <div class="controls">
                         <input type="text" id="Invariant_Form_inv" placeholder="Predicate..." name="content">
                       </div>
                   </div>
                   <div class="control-group">
                       <label class="control-label" for="Invariant_Form_line">Loop</label>
                       <div class="controls">
                         <input type="number" id="Invariant_Form_loop" name="loopid">
                       </div>
                   </div>
	           <div><input type="submit" onclick="send_loop_invariant();" id="suggest_loop_invariant_button" value="Suggest Loop Invariant" class="btn btn-primary" data-toggle="popover" data-placement="right" data-loading-text="Proving..."></div>
	           </form>
          </div>
        </div>
      </div>
      </section>


      <!-- Next
      ================================================== -->
      <section id="section_results">
        <div class="page-header">
          <h3>Results</h3>
	  Program status:    
          {% if program.status == 0 %}
	      <button class="btn btn-warning" type="button">Unknown</button> 
          {% elif program.status == 1 %}
	      <button class="btn btn-success" type="button">Correct</button> 
          {% elif program.status == 2 %}
	      <button class="btn btn-danger" type="button">Incorrect</button>
          {% elif program.status == 3 %}
	      <button class="btn btn-info" type="button">Axiom</button> 
          {% endif %}
          <br><br>
          <p>We have collected the following invariants so far:</p>
        </div>

      <div class="row-fluid" align="center">
        <div class="span6">
        <h4>Invariants</h4>
        <div class="form-horizontal">
          <input type="number" id="filter_inv_line" placeholder="Line number" class="span4">
          <select class="span4" id="filter_inv_status">
            <option id="inv_all">All</option>
            <option id="inv_correct">Correct</option>
            <option id="inv_unknown">Unknown</option>
            <option id="inv_incorrect">Incorrect</option>
            <option id="inv_axiom">Axiom</option>
          </select>
      </div>

      <script type="text/javascript">
        $("#filter_inv_line").keyup(function() {
          filter_inv();
        });

        $("#filter_inv_line").change(function() {
          filter_inv();
        });


        $("#filter_inv_status").change(function() {
          filter_inv();
        });
      </script>
        
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Status</th>
              <th>Invariant</th>
              <th>Line</th>
              <th>Author</th>
            </tr>
          </thead>
          <tbody id="inv_results_tbody">
	    {% for invariant in program.invariant_set.all %}
            <tr>
                {% if invariant.status == 0 %}
	          <td> <button class="btn btn-mini btn-warning" type="button">Unknown</button> </td>
                {% elif invariant.status == 1 %}
	          <td> <button class="btn btn-mini btn-success" type="button">Correct</button> </td>
                {% elif invariant.status == 2 %}
	          <td> <button class="btn btn-mini btn-danger" type="button">Incorrect</button> </td>
                {% elif invariant.status == 3 %}
	          <td> <button class="btn btn-mini btn-info" type="button">Axiom</button> </td>
                {% endif %}
                  <td> {{ invariant.content }} </td>
                  <td> {{ invariant.line }} </td>
                  <td> {{ invariant.author }} </td>
            </tr>
	    {% endfor %}
          </tbody>
        </table>
        </div> <!-- end span6-->

        <div class="span6" align="center">
        <h4>Loop Invariants</h4>

        <div class="form-horizontal">
          <input type="number" id="filter_loopinv_id" placeholder="Loop number" class="span4">
          <select class="span4" id="filter_loopinv_status">
            <option id="loopinv_all">All</option>
            <option id="loopinv_correct">Correct</option>
            <option id="loopinv_unknown">Unknown</option>
            <option id="loopinv_incorrect">Incorrect</option>
            <option id="loopinv_axiom">Axiom</option>
          </select>
        </div>

      <script type="text/javascript">
        $("#filter_loopinv_id").keyup(function() {
          filter_loopinv();
        });

        $("#filter_loopinv_id").change(function() {
          filter_loopinv();
        });


        $("#filter_loopinv_status").change(function() {
          filter_loopinv();
        });
      </script>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Status</th>
              <th>Invariant</th>
              <th>Loop</th>
              <th>Author</th>
            </tr>
          </thead>
          <tbody id="loopinv_results_tbody">
	    {% for invariant in program.loopinvariant_set.all %}
            <tr>
                {% if invariant.status == 0 %}
	          <td> <button class="btn btn-mini btn-warning" type="button">Unknown</button> </td>
                {% elif invariant.status == 1 %}
	          <td> <button class="btn btn-mini btn-success" type="button">Correct</button> </td>
                {% elif invariant.status == 2 %}
	          <td> <button class="btn btn-mini btn-danger" type="button">Incorrect</button> </td>
                {% elif invariant.status == 3 %}
	          <td> <button class="btn btn-mini btn-info" type="button">Axiom</button> </td>
                {% endif %}
                  <td> {{ invariant.content }} </td>
                  <td> {{ invariant.loopId }} </td>
                  <td> {{ invariant.author }} </td>
            </tr>
	    {% endfor %}
          </tbody>
        </table>
        </div> <!-- end span6-->
      </div>
      </section>

      <section id="section_trace">
        <div class="page-header">
          <h3>Trace Visualizer</h3>
          <p>Set program inputs, and step through the execution trace.</p>
        </div>
        <div class="row-fluid">
          <div class="span5">
            <pre class="code2">{{code}}</pre>
         </div>
          <div class="span7" align="right">
            <div class="row-fluid">
              <div class="span10">
              <table id="inputtable" class="inputgrid">
              <tr>
              <th>Variable</th><th>Value</th>
              </tr>
              {% for input in trace.inputs %}
              <tr id="inputrow{{forloop.counter}}">
              <td>{{input.name}}</td><td id="input{{forloop.counter}}">{{input.default}}</td>
              </tr>
              {% endfor %}
              </table>
            </div>
            <div class="span2">
              <button type="button" id="compute_trace_button" onclick="compute_trace();" class="btn btn-small btn-primary" data-loading-text="Computing...">Compute Trace</button>
            </div>
            <br><br>
            </div>
            <input type="text" id="step" style="display:none;"/>
            <br>
            <div class="row-fluid">
              <div class="span10">
                <div id="slider1"></div>
            </div>
            <div class="span2">
              <div class="btn-group">
                <button type="button" class="btn btn-primary btn-mini" onclick="slide_prev();">Prev</button>
                <button type="button" class="btn btn-primary btn-mini" onclick="slide_next();">Next</button>
              </div>
            </div>
          </div>
              <br>
              <div id="visualtable">
              </div> <!-- visualtable -->
              <div id="tablecontent"></div>
              <div id="paginator"></div>
              <br>
              <a href="#settingsModal" role="button" class="btn btn-primary" data-toggle="modal">Trace Settings</a>
          </div>

      </section>

      <section id="section_feedback">
        <div class="page-header">
          <h3>Comments</h3>
          <p>Post queries or discuss about this program</p>
        </div>
            {% load disqus_tags %}
            {% set_disqus_url program.description %}
            {% set_disqus_identifier program.id %}
            {% disqus_show_comments %}

      </section>

     </div>
     </div>
    </div> <!-- /container -->

<!--
Scratch:

-->
<!-- Modal -->
<div id="settingsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Trace Visualizer Settings</h3>
  </div>
  <div class="modal-body">
      <div>
      <p>Select which variables you would like to display in the trace visualizer. </p>
      <table align="center">
      {% for vartrace in trace.values %}
            <tr class="var_{{ vartrace.alias }}">
              <th><label for="{{ vartrace.alias }}">{{ vartrace.name }}</label></th>
              <td>
                <input type="checkbox" id="{{ vartrace.alias }}"/>
              </td>
            </tr>
      {% endfor %}
      </table>
    </div>
      <br>
      <div id="pagecontrol">
        <label for="pagecontrol">Number of steps to display per page: </label>
        <select id="pagesize" name="pagesize">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
          <option value="25">25</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
        </select> 
      </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <!--button class="btn btn-primary">Save changes</button-->
    <input type="submit" onclick="saveSettings();" value="Apply" class="btn btn-primary">
  </div>
</div>

<div id="cexModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel2">Counter-Example</h3>
  </div>
  <div class="modal-body">
        <div class="row-fluid">
          <div class="span6">
            <pre class="code3">{{code}}</pre>
         </div> 
          <div class="span6" align="right">
            <input type="text" id="step2" style="display:none;"/>
            <br>
            <div id="visualtable2"></div> <!-- visualtable -->
            <div id="tablecontent2"></div>
            <br>
            <div class="row-fluid">
                <div id="slider2"></div>
            </div> 
              <br>
              <div id="visualtable3"></div> <!-- visualtable -->
              <div id="tablecontent3"></div>
              <br>
         </div> 
       </div> 
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <!--button class="btn btn-primary">Save changes</button-->
  </div>
</div>

<div id="loopcexModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel3">Counter-Example</h3>
  </div>
  <div class="modal-body">
        <div class="row-fluid">
          <div class="span6">
            <pre class="code4">{{code}}</pre>
         </div> 
          <div class="span6" align="right">
            <input type="text" id="step3" style="display:none;"/>
            <br>
            <div id="visualtable4"></div> <!-- visualtable -->
            <div id="tablecontent4"></div>
            <br>
            <div class="row-fluid">
                <div id="slider3"></div>
            </div> 
              <br>
              <div id="visualtable5"></div> <!-- visualtable -->
              <div id="tablecontent5"></div>
              <br>
         </div> 
       </div> 
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <!--button class="btn btn-primary">Save changes</button-->
  </div>
</div>



    <!-- Footer
    ================================================== -->
    <footer class="footer">
      <div class="container">
        <p>Designed and built by <a href="https://github.com/rsinha" target="_blank">rsinha</a> and <a href="https://github.com/nishanttotla" target="_blank">nishanttotla</a>.</p>
        <p>Code licensed under <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons 3.0</a>.</p>
        <p>Special Thanks to JQuery, Bootstrap, Snippets, Editable Grid, Django, and Dajaxice. </p>
        <ul class="footer-links">
          <li><a href="http://blog.getbootstrap.com">Blog</a></li>
          <li class="muted">&middot;</li>
          <li><a href="https://github.com/twitter/bootstrap/issues?state=open">Issues</a></li>
          <li class="muted">&middot;</li>
          <li><a href="https://github.com/twitter/bootstrap/blob/master/CHANGELOG.md">Changelog</a></li>
        </ul>
      </div>
    </footer>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster-->
    <script src="http://crowdprover.herokuapp.com/static/bootstrap/js/bootstrap-transition.js"></script>
    <script src="http://crowdprover.herokuapp.com/static/bootstrap/js/bootstrap-alert.js"></script>
    <script src="http://crowdprover.herokuapp.com/static/bootstrap/js/bootstrap-modal.js"></script>
    <script src="http://crowdprover.herokuapp.com/static/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="http://crowdprover.herokuapp.com/static/bootstrap/js/bootstrap-scrollspy.js"></script>
    <!--script src="http://crowdprover.herokuapp.com/static/bootstrap/js/bootstrap-slider.js"></script-->
    <script src="http://crowdprover.herokuapp.com/static/bootstrap/js/bootstrap-tab.js"></script>
    <script src="http://crowdprover.herokuapp.com/static/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="http://crowdprover.herokuapp.com/static/bootstrap/js/bootstrap-popover.js"></script>
    <script src="http://crowdprover.herokuapp.com/static/bootstrap/js/bootstrap-button.js"></script>
    <script src="http://crowdprover.herokuapp.com/static/bootstrap/js/bootstrap-collapse.js"></script>
    <script src="http://crowdprover.herokuapp.com/static/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="http://crowdprover.herokuapp.com/static/bootstrap/js/bootstrap-typeahead.js"></script>
    <script src="http://crowdprover.herokuapp.com/static/bootstrap/js/bootstrap-affix.js"></script>
  </body>
</html>
